.home{
    padding: 24px;
}


.home__container{
  width: 90vw;
  margin: 0 auto;
}
.home__container--intro{
  background-color: #F2E0D0;
  padding:2.5%;
  border-radius: 30px;
  box-shadow: 0px 31px 29px -15px rgba(18,18,18,0.44);
  -webkit-box-shadow: 0px 31px 29px -15px rgba(18,18,18,0.44);
  -moz-box-shadow: 0px 31px 29px -15px rgba(18,18,18,0.44);
  margin-bottom: 48px;
}
.home__container--form{
  width: 40vw;
  background-color: #F0F0F2;
  border-radius: 30px;
  padding: 2.5%;
  box-shadow: 0px 31px 29px -15px rgba(18,18,18,0.44);
  -webkit-box-shadow: 0px 31px 29px -15px rgba(18,18,18,0.44);
  -moz-box-shadow: 0px 31px 29px -15px rgba(18,18,18,0.44);
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
}
.form__section--title{
  width: 100%;
}
.form__section--label{
  margin:10px 30px 10px 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

input[type="number"]{
  width: 40%;
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  text-align: center;
}



.button{
  border: none;
  color:white;
  padding: 20px;
  font-size: 16px;
}
.form__section--button{
  width: 100%;
  margin-top: 32px;
}
.button--calcular{
  border-radius: 10px 10px 10px 30px;
  background-color: #da5736;
  width: 60%;
  margin-right: 5%;
}
.button--limpiar{
  border-radius: 10px 10px 30px 10px;
  background-color: #616161;
  width: 35%;
}
















/*------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #da5736;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #da5736;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
